.profileScrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.profileScrollbar::-webkit-scrollbar-thumb {
  background-color: #64748b;
  border-radius: 4px;
}

.listFollowScrollbar::-webkit-scrollbar{
  width: 5px;
  background: transparent;
}
.listFollowScrollbar::-webkit-scrollbar-thumb{
  background: #64748b;
  border-radius: 4px;
}