@font-face {
  font-family: "Clash Display";
  src: url("/fonts/ClashDisplay/ClashDisplay-Variable.woff2") format("woff2"),
    url("/fonts/ClashDisplay/ClashDisplay-Variable.woff") format("woff"),
    url("/fonts/ClashDisplay/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/Satoshi/Satoshi-Variable.woff") format("woff"),
    url("/fonts/Satoshi/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@media screen and (min-width: 1393px) {
  .Clash_display_d1bold {
    font-family: "Clash Display";
    font-size: 9.75rem; /* 156px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1392.9px)
  and (min-width: 1024px) {
    .Clash_display_d1bold {
      font-family: "Clash Display";
      font-size: 9.75rem; /* 156px */
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }
}
@media screen and (max-width: 1023.9px)
  and (min-width: 768px) {
    .Clash_display_d1bold {
      font-family: "Clash Display";
      font-size: 9.75rem; /* 156px */
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }
}
@media screen and (max-width: 767.9px)
  and (min-width: 640px) {
    .Clash_display_d1bold {
      font-family: "Clash Display";
      font-size: 9.75rem; /* 156px */
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }
}
@media screen and (max-width: 639.9px)
  and (min-width: 320px) {
    .Clash_display_d1bold {
      font-family: "Clash Display";
      font-size: 8rem; /* 156px */
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }
}

@media screen and (min-width: 1393px) {
  .Clash_display_d2bold {
    font-family: "Clash Display";
    font-size: 8rem; /* 128px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1392.9px)
  and (min-width: 1024px) {
  .Clash_display_d2bold {
    font-family: "Clash Display";
    font-size: 6.75rem; /* 128px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1023.9px)
  and (min-width: 768px) {
  .Clash_display_d2bold {
    font-family: "Clash Display";
    font-size: 5.5rem; /* 128px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 767.9px)
  and (min-width: 640px) {
  .Clash_display_d2bold {
    font-family: "Clash Display";
    font-size: 3.5rem; /* 128px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 639.9px)
  and (min-width: 320px) {
  .Clash_display_d2bold {
    font-family: "Clash Display";
    font-size: 3.325rem; /* 128px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1393px) {
  .Clash_display_d3bold {
    font-family: "Clash Display";
    font-size: 6rem; /* 96px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1392.9px)
  and (min-width: 1024px) {
  .Clash_display_d3bold {
      font-family: "Clash Display";
      font-size: 5.5rem; /* 96px */
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1023.9px)
  and (min-width: 768px) {
    .Clash_display_d3bold {
    font-family: "Clash Display";
    font-size: 5rem; /* 96px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 767.9px)
  and (min-width: 0px) {
    .Clash_display_d3bold {
    font-family: "Clash Display";
    font-size: 2rem; /* 96px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1393px) {
  .Clash_display_d4bold {
    font-family: "Clash Display";
    font-size: 5.5rem; /* 72px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media  screen and (max-width: 1392.9px)
and (min-width: 1024px) {
  .Clash_display_d4bold {
    font-family: "Clash Display";
    font-size: 4.5rem; /* 72px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1023.9px)
  and (min-width: 768px) {
    .Clash_display_d4bold {
      font-family: "Clash Display";
      font-size: 3.5rem; /* 72px */
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }
}
@media screen and (max-width: 767.9px)
  and (min-width: 640px) {
    .Clash_display_d4bold {
      font-family: "Clash Display";
      font-size: 3rem; /* 72px */
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }
}
@media screen and (max-width: 639.9px)
  and (min-width: 320px) {
    .Clash_display_d4bold {
      font-family: "Clash Display";
      font-size: 2.375rem; /* 72px */
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }
}

.Clash_display_d5bold {
  font-family: "Clash Display";
  font-size: 3.75rem; /* 60px */
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_d6bold {
  font-family: "Clash Display";
  font-size: 3.375rem; /* 54px */
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_d1medium {
  font-family: "Clash Display";
  font-size: 9.75rem; /* 156px */
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_d2medium {
  font-family: "Clash Display";
  font-size: 8rem; /* 128px */
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1393px) {
  .Clash_display_d3medium {
    font-family: "Clash Display";
    font-size: 6rem; /* 96px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media  screen and (max-width: 1392.9px)
and (min-width: 1024px) {
  .Clash_display_d3medium {
    font-family: "Clash Display";
    font-size: 4.75rem; /* 96px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1023.9px)
  and (min-width: 768px) {
    .Clash_display_d3medium {
      font-family: "Clash Display";
      font-size: 3.5rem; /* 96px */
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }
}
@media screen and (max-width: 767.9px)
  and (min-width: 640px) {
    .Clash_display_d3medium {
      font-family: "Clash Display";
      font-size: 2.75rem; /* 96px */
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }
}
@media screen and (max-width: 639.9px)
  and (min-width: 320px) {
    .Clash_display_d3medium {
      font-family: "Clash Display";
      font-size: 2rem; /* 96px */
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }
}

@media screen and (min-width: 1393px) {
  .Clash_display_d4medium {
    font-family: "Clash Display";
    font-size: 4.5rem; /* 72px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media  screen and (max-width: 1392.9px)
and (min-width: 1024px) {
  .Clash_display_d4medium {
    font-family: "Clash Display";
    font-size: 4.25rem; /* 72px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1023.9px)
and (min-width: 768px) {
  .Clash_display_d4medium {
    font-family: "Clash Display";
    font-size: 4rem; /* 72px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 767.9px)
and (min-width: 640px) {
  .Clash_display_d4medium {
    font-family: "Clash Display";
    font-size: 4rem; /* 72px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 639.9px)
and (min-width: 320px) {
  .Clash_display_d4medium {
    font-family: "Clash Display";
    font-size: 3rem; /* 72px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.Clash_display_d5medium {
  font-family: "Clash Display";
  font-size: 3.75rem; /* 60px */
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_d6medium {
  font-family: "Clash Display";
  font-size: 3.375rem; /* 54px */
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_d1regular {
  font-family: "Clash Display";
  font-size: 9.75rem; /* 156px */
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_d2regular {
  font-family: "Clash Display";
  font-size: 8rem; /* 128px */
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_d3regular {
  font-family: "Clash Display";
  font-size: 6rem; /* 96px */
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_d4regular {
  font-family: "Clash Display";
  font-size: 4.5rem; /* 72px */
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1393px) {
  .Clash_display_d5regular {
    font-family: "Clash Display";
    font-size: 3.75rem; /* 60px */
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

@media  screen and (max-width: 1392.9px)
and (min-width: 1024px) {
  .Clash_display_d5regular {
    font-family: "Clash Display";
    font-size: 3.5rem; /* 60px */
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1023.9px)
and (min-width: 768px) {
  .Clash_display_d5regular {
    font-family: "Clash Display";
    font-size: 3.25rem; /* 60px */
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1023.9px)
and (min-width: 768px) {
  .Clash_display_d5regular {
    font-family: "Clash Display";
    font-size: 3rem; /* 60px */
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.Clash_display_d6regular {
  font-family: "Clash Display";
  font-size: 3.375rem; /* 54px */
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_d1light {
  font-family: "Clash Display";
  font-size: 9.75rem; /* 156px */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_d2light {
  font-family: "Clash Display";
  font-size: 8rem; /* 128px */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_d3light {
  font-family: "Clash Display";
  font-size: 6rem; /* 96px */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_d4light {
  font-family: "Clash Display";
  font-size: 4.5rem; /* 72px */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_d5light {
  font-family: "Clash Display";
  font-size: 3.75rem; /* 60px */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_d6light {
  font-family: "Clash Display";
  font-size: 3.375rem; /* 54px */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1393px) {
  .Clash_display_h1bold {
    font-family: "Clash Display";
    font-size: 3rem; /* 48px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media  screen and (max-width: 1392.9px)
and (min-width: 1024px) {
  .Clash_display_h1bold {
    font-family: "Clash Display";
    font-size: 3rem; /* 48px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1023.9px)
and (min-width: 768px) {
  .Clash_display_h1bold {
    font-family: "Clash Display";
    font-size: 2rem; /* 48px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 767.9px)
and (min-width: 640px) {
  .Clash_display_h1bold {
    font-family: "Clash Display";
    font-size: 2rem; /* 48px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 639.9px)
and (min-width: 320px) {
  .Clash_display_h1bold {
    font-family: "Clash Display";
    font-size: 1.5rem; /* 48px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.Clash_display_h2bold {
  font-family: "Clash Display";
  font-size: 2.375rem; /* 38px */
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1394px) {
  .Clash_display_h3bold {
    font-family: "Clash Display";
    font-size: 2rem; /* 32px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media  screen and (max-width: 1393px)
and (min-width: 1025px){
  .Clash_display_h3bold {
    font-family: "Clash Display";
    font-size: 1.75rem; /* 32px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1024px)
and (min-width: 769px) {
  .Clash_display_h3bold {
    font-family: "Clash Display";
    font-size: 1.5rem; /* 32px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 768px)
and (min-width: 321px) {
  .Clash_display_h3bold {
    font-family: "Clash Display";
    font-size: 1.25rem; /* 32px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 320px)
and (min-width: 0px) {
  .Clash_display_h3bold {
    font-family: "Clash Display";
    font-size: 1rem; /* 32px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.Clash_display_h4bold {
  font-family: "Clash Display";
  font-size: 1.75rem; /* 28px */
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1393px) {
  .Clash_display_h5bold {
    font-family: "Clash Display";
    font-size: 1.5rem; /* 24px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media  screen and (max-width: 1392.9px)
and (min-width: 1024px) {
  .Clash_display_h5bold {
    font-family: "Clash Display";
    font-size: 1.25rem; /* 24px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1023.9px)
  and (min-width: 768px) {
    .Clash_display_h5bold {
      font-family: Satoshi;
      font-size: 1rem; /* 24px */
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }
}
@media screen and (max-width: 767.9px)
  and (min-width: 640px) {
    .Clash_display_h5bold {
      font-family: Satoshi;
      font-size: 1rem; /* 24px */
      font-weight: 700;
      line-height: 1.4;
    }
}
@media screen and (max-width: 639.9px)
  and (min-width: 320px) {
    .Clash_display_h5bold {
      font-family: Satoshi;
      font-size: 0.5rem; /* 24px */
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }
}

.Clash_display_h6bold {
  font-family: "Clash Display";
  font-size: 1.25rem; /* 20px */
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1393px){
  .Clash_display_h1medium {
    font-family: "Clash Display";
    font-size: 3rem; /* 48px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media  screen and (max-width: 1392.9px)
and (min-width: 1024px){
  .Clash_display_h1medium {
    font-family: "Clash Display";
    font-size: 2.5rem; /* 48px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1023.9px)
and (min-width: 768px) {
  .Clash_display_h1medium {
    font-family: "Clash Display";
    font-size: 1.75rem; /* 48px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 767.9px)
and (min-width: 640px) {
  .Clash_display_h1medium {
    font-family: "Clash Display";
    font-size: 1.75rem; /* 48px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 639.9px)
and (min-width: 320px) {
  .Clash_display_h1medium {
    font-family: "Clash Display";
    font-size: 1.5rem; /* 48px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1393px){
  .Clash_display_h2medium {
    font-family: "Clash Display";
    font-size: 2.375rem; /* 38px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

@media  screen and (max-width: 1392.9px)
and (min-width: 1024px){
  .Clash_display_h2medium {
    font-family: "Clash Display";
    font-size: 1.875rem; /* 38px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1023.9px)
and (min-width: 768px) {
  .Clash_display_h2medium {
    font-family: "Clash Display";
    font-size: 1.375rem; /* 38px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 767.9px)
and (min-width: 0px) {
  .Clash_display_h2medium {
    font-family: "Clash Display";
    font-size: 1rem; /* 38px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.Clash_display_h3medium {
  font-family: "Clash Display";
  font-size: 2rem; /* 32px */
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1393px){
  .Clash_display_h4medium {
    font-family: "Clash Display";
    font-size: 1.75rem; /* 28px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

@media  screen and (max-width: 1392.9px)
and (min-width: 1024px){
  .Clash_display_h4medium {
    font-family: "Clash Display";
    font-size: 1.5rem; /* 28px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1023.9px)
and (min-width: 768px) {
  .Clash_display_h4medium {
    font-family: "Clash Display";
    font-size: 1.25rem; /* 28px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 767.9px)
and (min-width: 640px) {
  .Clash_display_h4medium {
    font-family: "Clash Display";
    font-size: 1rem; /* 28px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 639.9px)
and (min-width: 320px) {
  .Clash_display_h4medium {
    font-family: "Clash Display";
    font-size: 0.75rem; /* 28px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1393px){
  .Clash_display_h5medium {
    font-family: "Clash Display";
    font-size: 1.5rem; /* 24px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

@media  screen and (max-width: 1392.9px)
and (min-width: 1024px){
  .Clash_display_h5medium {
    font-family: "Clash Display";
    font-size: 1.5rem; /* 24px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1023.9px)
and (min-width: 768px) {
  .Clash_display_h5medium {
    font-family: "Clash Display";
    font-size: 1.5rem; /* 24px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 767.9px)
and (min-width: 640px) {
  .Clash_display_h5medium {
    font-family: "Clash Display";
    font-size: 1rem; /* 24px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 639.9px)
and (min-width: 320px) {
  .Clash_display_h5medium {
    font-family: "Clash Display";
    font-size: 0.75rem; /* 24px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1393px){
  .Clash_display_h6medium {
    font-family: "Clash Display";
    font-size: 1.25rem; /* 20px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media  screen and (max-width: 1392.9px)
and (min-width: 1024px){
  .Clash_display_h6medium {
    font-family: "Clash Display";
    font-size: 1rem; /* 20px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1023.9px)
and (min-width: 768px) {
  .Clash_display_h6medium {
    font-family: "Clash Display";
    font-size: 0.75rem; /* 20px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 767.9px)
and (min-width: 0px) {
  .Clash_display_h6medium {
    font-family: "Clash Display";
    font-size: 1rem; /* 20px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.Clash_display_h1regular {
  font-family: "Clash Display";
  font-size: 3rem; /* 48px */
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_h2regular {
  font-family: "Clash Display";
  font-size: 2.375rem; /* 38px */
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_h3regular {
  font-family: "Clash Display";
  font-size: 2rem; /* 32px */
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_h4regular {
  font-family: "Clash Display";
  font-size: 1.75rem; /* 28px */
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1393px){
  .Clash_display_h5regular {
    font-family: "Clash Display";
    font-size: 1.5rem; /* 24px */
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media  screen and (max-width: 1392.9px)
and (min-width: 1024px){
  .Clash_display_h5regular {
    font-family: "Clash Display";
    font-size: 1.43rem; /* 24px */
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1023.9px)
and (min-width: 768px) {
  .Clash_display_h5regular {
    font-family: "Clash Display";
    font-size: 1rem; /* 24px */
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 767.9px)
and (min-width: 640px) {
  .Clash_display_h5regular {
    font-family: "Clash Display";
    font-size: 1rem; /* 24px */
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 639.9px)
and (min-width: 320px) {
  .Clash_display_h5regular {
    font-family: "Clash Display";
    font-size: 0.75rem; /* 24px */
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.Clash_display_h6regular {
  font-family: "Clash Display";
  font-size: 1.25rem; /* 20px */
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_h1light {
  font-family: "Clash Display";
  font-size: 3rem; /* 48px */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_h2light {
  font-family: "Clash Display";
  font-size: 2.375rem; /* 38px */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_h3light {
  font-family: "Clash Display";
  font-size: 2rem; /* 32px */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_h4light {
  font-family: "Clash Display";
  font-size: 1.75rem; /* 28px */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_h5light {
  font-family: "Clash Display";
  font-size: 1.5rem; /* 24px */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Clash_display_h6light {
  font-family: "Clash Display";
  font-size: 1.25rem; /* 20px */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_h1bold {
  font-family: Satoshi;
  font-size: 3rem; /* 48px */
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_h2bold {
  font-family: Satoshi;
  font-size: 2.375rem; /* 38px */
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1393px){
  .Satoshi_h3bold {
    font-family: Satoshi;
    font-size: 2rem; /* 32px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media  screen and (max-width: 1392.9px)
and (min-width: 1024px){
  .Satoshi_h3bold {
    font-family: Satoshi;
    font-size: 2rem; /* 32px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1023.9px)
and (min-width: 768px) {
  .Satoshi_h3bold {
    font-family: Satoshi;
    font-size: 2rem; /* 32px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 767.9px)
and (min-width: 640px) {
  .Satoshi_h3bold {
    font-family: Satoshi;
    font-size: 1.75rem; /* 32px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 639.9px)
and (min-width: 320px) {
  .Satoshi_h3bold {
    font-family: Satoshi;
    font-size: 1.5rem; /* 32px */
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}

.Satoshi_h4bold {
  font-family: Satoshi;
  font-size: 1.75rem; /* 28px */
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
}


.Satoshi_h5bold {
  font-family: Satoshi;
  font-size: 1.5rem; /* 24px */
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1393px) {
  .Satoshi_h6bold {
    font-family: Satoshi;
    font-size: 1.25rem; /* 20px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media  screen and (max-width: 1392.9px)
and (min-width: 1024px) {
  .Satoshi_h6bold {
    font-family: Satoshi;
    font-size: 1.12rem; /* 20px */
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1023.9px)
  and (min-width: 768px) {
    .Satoshi_h6bold {
      font-family: Satoshi;
      font-size: 1rem; /* 20px */
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }
}
@media screen and (max-width: 767.9px)
  and (min-width: 0px) {
    .Satoshi_h6bold {
      font-family: Satoshi;
      font-size: .95rem; /* 20px */
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.02em;
    }
}

.Satoshi_h1medium {
  font-family: Satoshi;
  font-size: 3rem; /* 48px */
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_h2medium {
  font-family: Satoshi;
  font-size: 2.375rem; /* 38px */
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_h3medium {
  font-family: Satoshi;
  font-size: 2rem; /* 32px */
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_h4medium {
  font-family: Satoshi;
  font-size: 1.75rem; /* 28px */
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_h5medium {
  font-family: Satoshi;
  font-size: 1.5rem; /* 24px */
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_h6medium {
  font-family: Satoshi;
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_h1regular {
  font-family: Satoshi;
  font-size: 3rem; /* 48px */
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_h2regular {
  font-family: Satoshi;
  font-size: 2.375rem; /* 38px */
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_h3regular {
  font-family: Satoshi;
  font-size: 2rem; /* 32px */
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_h4regular {
  font-family: Satoshi;
  font-size: 1.75rem; /* 28px */
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_h5regular {
  font-family: Satoshi;
  font-size: 1.5rem; /* 24px */
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_h6regular {
  font-family: Satoshi;
  font-size: 1.25rem; /* 20px */
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_h1light {
  font-family: Satoshi;
  font-size: 3rem; /* 48px */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_h2light {
  font-family: Satoshi;
  font-size: 2.375rem; /* 38px */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_h3light {
  font-family: Satoshi;
  font-size: 2rem; /* 32px */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_h4light {
  font-family: Satoshi;
  font-size: 1.75rem; /* 28px */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_h5light {
  font-family: Satoshi;
  font-size: 1.5rem; /* 24px */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_h6light {
  font-family: Satoshi;
  font-size: 1.25rem; /* 20px */
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.Satoshi_b1bold {
  font-family: Satoshi;
  font-size: 1.125rem; /* 18px */
  font-weight: 700;
  line-height: 1.4;
}

.Satoshi_b2bold {
  font-family: Satoshi;
  font-size: 1rem; /* 16px */
  font-weight: 700;
  line-height: 1.4;
}

.Satoshi_b1medium {
  font-family: Satoshi;
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
  line-height: 1.4;
}

@media screen and (min-width: 1393px) {
  .Satoshi_b2medium {
    font-family: Satoshi;
    font-size: 1rem; /* 16px */
    font-weight: 500;
    line-height: 1.4;
  }
}
@media  screen and (max-width: 1392.9px)
and (min-width: 1024px) {
  .Satoshi_b2medium {
    font-family: Satoshi;
    font-size: 0.9rem; /* 16px */
    font-weight: 500;
    line-height: 1.4;
  }
}
@media screen and (max-width: 1023.9px)
and (min-width: 768px) {
  .Satoshi_b2medium {
    font-family: Satoshi;
    font-size: 0.8rem; /* 16px */
    font-weight: 500;
    line-height: 1.4;
  }
}
@media screen and (max-width: 767.9px)
and (min-width: 640px) {
  .Satoshi_b2medium {
    font-family: Satoshi;
    font-size: 0.825rem; /* 16px */
    font-weight: 500;
    line-height: 1.4;
  }
}
@media screen and (max-width: 639.9px)
and (min-width: 320px) {
  .Satoshi_b2medium {
    font-family: Satoshi;
    font-size: 0.825rem; /* 16px */
    font-weight: 500;
    line-height: 1.4;
  }
}

@media screen and (min-width: 1393px) {
  .Satoshi_b1regular {
    font-family: Satoshi;
    font-size: 1.125rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
  }
}
@media  screen and (max-width: 1392.9px)
and (min-width: 1024px) {
  .Satoshi_b1regular {
    font-family: Satoshi;
    font-size: 1rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
  }
}
@media screen and (max-width: 1023.9px)
and (min-width: 768px) {
  .Satoshi_b1regular {
    font-family: Satoshi;
    font-size: 0.875rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
  }
}
@media screen and (max-width: 767.9px)
and (min-width: 640px) {
  .Satoshi_b1regular {
    font-family: Satoshi;
    font-size: 0.75rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
  }
}
@media screen and (max-width: 639.9px)
and (min-width: 320px) {
  .Satoshi_b1regular {
    font-family: Satoshi;
    font-size: 0.625rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
  }
}

@media screen and (min-width: 1393px) {
  .Satoshi_b2regular {
    font-family: Satoshi;
    font-size: 1rem; /* 16px */
    font-weight: 400;
    line-height: 1.4;
  }
}
@media  screen and (max-width: 1392.9px)
and (min-width: 1024px) {
  .Satoshi_b2regular {
    font-family: Satoshi;
    font-size: 1rem; /* 16px */
    font-weight: 400;
    line-height: 1.4;
  }
}
@media screen and (max-width: 1023.9px)
and (min-width: 768px) {
  .Satoshi_b2regular {
    font-family: Satoshi;
    font-size: 1rem; /* 16px */
    font-weight: 400;
    line-height: 1.4;
  }
}
@media screen and (max-width: 767.9px)
and (min-width: 640px) {
  .Satoshi_b2regular {
    font-family: Satoshi;
    font-size: 1rem; /* 16px */
    font-weight: 400;
    line-height: 1.4;
  }
}
@media screen and (max-width: 639.9px)
and (min-width: 320px) {
  .Satoshi_b2regular {
    font-family: Satoshi;
    font-size: 0.75rem; /* 16px */
    font-weight: 400;
    line-height: 1.4;
  }
}

.Satoshi_b1light {
  font-family: Satoshi;
  font-size: 1.125rem; /* 18px */
  font-weight: 300;
  line-height: 1.4;
}

.Satoshi_b2light {
  font-family: Satoshi;
  font-size: 1rem; /* 16px */
  font-weight: 300;
  line-height: 1.4;
}

.Satoshi_c1bold {
  font-family: Satoshi;
  font-size: 0.875rem; /* 14px */
  font-weight: 700;
  letter-spacing: 0.02em;
}

.Satoshi_c2bold {
  font-family: Satoshi;
  font-size: 0.75rem; /* 12px */
  font-weight: 700;
  letter-spacing: 0.02em;
}

.Satoshi_c3bold {
  font-family: Satoshi;
  font-size: 0.625rem; /* 10px */
  font-weight: 700;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1393px) {
  .Satoshi_c1medium {
    font-family: Satoshi;
    font-size: 0.875rem; /* 14px */
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}
@media  screen and (max-width: 1392.9px)
and (min-width: 1024px) {
  .Satoshi_c1medium {
    font-family: Satoshi;
    font-size: 0.875rem; /* 14px */
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 1023.9px)
and (min-width: 768px) {
  .Satoshi_c1medium {
    font-family: Satoshi;
    font-size: 0.875rem; /* 14px */
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 767.9px)
and (min-width: 640px) {
  .Satoshi_c1medium {
    font-family: Satoshi;
    font-size: 0.75rem; /* 14px */
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 639.9px)
and (min-width: 320px) {
  .Satoshi_c1medium {
    font-family: Satoshi;
    font-size: 0.75rem; /* 14px */
    font-weight: 500;
    letter-spacing: 0.02em;
  }
}

.Satoshi_c2medium {
  font-family: Satoshi;
  font-size: 0.75rem; /* 12px */
  font-weight: 500;
  letter-spacing: 0.02em;
}

.Satoshi_c3medium {
  font-family: Satoshi;
  font-size: 0.625rem; /* 10px */
  font-weight: 500;
  letter-spacing: 0.02em;
}

.Satoshi_c1regular {
  font-family: Satoshi;
  font-size: 0.875rem; /* 14px */
  font-weight: 400;
  letter-spacing: 0.02em;
}

.Satoshi_c2regular {
  font-family: Satoshi;
  font-size: 0.75rem; /* 12px */
  font-weight: 400;
  letter-spacing: 0.02em;
}

.Satoshi_c3regular {
  font-family: Satoshi;
  font-size: 0.625rem; /* 10px */
  font-weight: 400;
  letter-spacing: 0.02em;
}

.Satoshi_c1light {
  font-family: Satoshi;
  font-size: 0.875rem; /* 14px */
  font-weight: 300;
  letter-spacing: 0.02em;
}

.Satoshi_c2light {
  font-family: Satoshi;
  font-size: 0.75rem; /* 12px */
  font-weight: 300;
  letter-spacing: 0.02em;
}

.Satoshi_c3light {
  font-family: Satoshi;
  font-size: 0.625rem; /* 10px */
  font-weight: 300;
  letter-spacing: 0.02em;
}