@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    display: none;
}

.bg-gradient {
    width: 125.4vw;
    height: 333.02vh;
    position: absolute;
    z-index: 1;
    left: -51.25vw;
    top: -150vh;

    background: radial-gradient(34.08% 34.22% at 66% 27.65%, rgba(93, 170, 174, 0.8) 0%, rgba(72, 78, 183, 0) 100%, rgba(159, 167, 255, 0) 100%);
    mix-blend-mode: color-dodge;
    filter: blur(60.323px);
    border-radius: 241.292px;
    /* transform: matrix(-0.1, -0.99, -0.99, 0.13, 0, 0); */
    transform: rotate(90deg);
}