.featuredGallery::-webkit-scrollbar {
  display: none;
}

.techstackGallery::-webkit-scrollbar {
  display: none;
}

.techstack {
  animation: runningtext linear 10s infinite;
}

.loading {
  animation: zoomin linear 5s infinite;
}

@keyframes runningtext {
  0% {
    left: 0;
  }
  100% {
    left: -2045px;
  }
}

@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
    filter: drop-shadow(0 0 30px rgb(255 255 255 / 0.25)) brightness(2)
      grayscale(50%);
    mix-blend-mode: lighten;
  }
  70% {
    transform: scale(1.2);
    filter: drop-shadow(0 0 30px rgb(255 255 255 / 0.25)) brightness(2)
      grayscale(50%);
    mix-blend-mode: lighten;
  }
  100% {
    transform: scale(1);
  }
}
