.discoverContent::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.discoverContent::-webkit-scrollbar-track {
  margin-top: 175px;
}

.discoverContent::-webkit-scrollbar-thumb {
  background-color: #64748b;
  border-radius: 4px;
}

.discoverCategory::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.discoverCategory::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color:#64748b ;
}
